@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10% 80% 10%;
}

.header{
    grid-area:1/2/2/3;
    display: flex;
    flex-flow: column nowrap;
    padding-top:25px;
}
img{
    width: 100%;
    height: auto;
    max-width: 48px;
    background-color: white;
    border-radius: 50%;
    /* padding:10px; */
}
.main{
    grid-area: 2/2/3/3;
    display: grid;
    gap:25px;
    grid-template-columns: 4fr 2fr;
    /* grid-template-rows: repeat(2,1fr); */
    margin-top: 50px;
    background-color: lightgray;
    padding:25px
}
footer{
    grid-area: 3/1/4/3;
}
.dashboard-menu{
    grid-area: 1/1/2/3;
    padding-left: 25px;
    /* align-items: center; */
}
ul{
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.search-profile-icon{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-between;
}
.profile-button{
    display: flex;
    padding-right: 50px;
    gap:25px;
    align-items: center;
}
.profile-nav{
    display: flex;
    gap:25px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.profile-nav>.handle{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    gap:25px;
}
.nav{
    padding-right: 50px;
}
.nav>ul{
    display: flex;
    gap:25px;
    flex-flow: row nowrap;

}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
}
.project-content{
    grid-area:1/1/3/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 25px;
    row-gap: 25px;
    /* padding:25px; */
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 5px solid black;
    background-color: lightgreen;
    border-radius: 10px;
    padding:10px;
}
.announcements{
    background-color: lightgreen;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 50px;
}
.anoouncement{
    border-top:1px black;
    border-bottom: 1px black;
}
.trending{
    background-color: lightgreen;
    border-radius: 10px;
    padding:20px;

}
.creator>.image-holder>img{
    /* min-height: 50px; */
    padding: 5px;
}
.trending>.content>.creator{
    display: flex;
    gap:30px;
    margin:10px;
    align-items: center;
}
.trending>.content>.creator>.handle{
    display: flex;
    flex-flow: column nowrap;
    gap:10px;
}
#search{
    width: 700px;
    height:2rem;
    border:none;
    background-color: lightgray;
    border-radius: 15px;
}
.nav>ul>li>button{
    width: 125px;
    height: 2.5rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
}
.project-button{
    display: flex;
    justify-content: flex-end;
    gap:15px;
    align-items: center;
}
.project-button>img{
    max-width: 2rem;
    background-color: inherit;
}