:root{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10% 80% 10%;
}
.dashboard-menu{
    grid-area: 1/1/2/3;
}
.header{
    grid-area:1/2/2/3;
}
img{
    width: 100%;
    height: auto;
    max-width: 64px;
}
.main{
    grid-area: 2/2/3/3;
}
footer{
    grid-area: 3/1/4/3;
}
ul{
    list-style-type: none;
}